version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ''
    ignore:
      # For test on MSRV.
      - dependency-name: once_cell
      - dependency-name: toml
      - dependency-name: trybuild
    labels: []
